body{
    padding-bottom:70px;
    padding-top:70px;
}

.bg-blue{
    background-color: lightblue;
}
.bg-beige{
    background-color: beige;
}
.full-screen{
    position:absolute;
    bottom: 0;
    top: 0;
     left: 0;
     right: 0;
}


.height-100{

    height:100%;
}
h3 {
border:2px solid grey;
border-color:grey;
border-radius:5px;
z-index:1;
white-space: nowrap;
padding:5px;
}